body {margin: 60px 40px 30px 40px;}
h1 {font-family: 'Nunito', Sans Serif; font-size: 70px; font-weight: 700; padding: 20px 0px 0px 0px; color: #25144E;}
h2 {font-family: 'Nunito', Sans Serif; font-size: 50px; font-weight: 700; padding: 10px 0px 0px 0px; color: #25144E;}
h3 {font-family: 'Nunito', Sans Serif; font-size: 34px; font-weight: 700; padding: 10px 0px 0px 0px; color: #25144E;}
h6 {font-family: 'Nunito', Sans Serif; font-size: 28px; font-weight: 700; padding: 10px 0px 0px 0px; color: #25144E;}
p {font-family: 'Montserrat', Sans Serif; font-size: 20px; font-weight: 300; line-height: 34px; padding: 10px 0px 10px 0px; color: #86808A;}
li {font-family: 'Montserrat', Sans Serif; font-size: 18px; font-weight: 300; line-height: 30px; padding: 10px 0px 10px 0px; color: #86808A;}
ol {font-weight: 900; color: #86808A;}
b {font-family: 'Montserrat', Sans Serif; font-size: 20px; font-weight: 600; line-height: 32px; padding: 10px 0px 10px 0px; color: #86808A;}
li, p {padding-left: 30px;}
ol {list-style: none; counter-reset: my-awesome-counter;}
ol li {
    counter-increment: my-awesome-counter;
    padding-bottom: 50px;
  }
ol li::before {
    color: #25144E;
    content: counter(my-awesome-counter) ". ";
    padding-right: 20px;
    font-weight: bold;
  }